// For Desktop
@media (min-width: 801px) {
    .store-list {
        display: flex;
        width: 100%;
        flex-wrap: wrap;

        &__item {
            max-width: 25%;
            flex: auto;
        }
    }
}
.search_wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;

    #searchQuery {
        height: 32px;
    }

    .search_btn_wrapper {
        margin-left: 8px;

        .search-btn {
            border: 0;
            color: white;
            padding: 10px;
            cursor: pointer;
        }

        .search_active {
            background-color: red;
        }

        .search_inactive {
            background-color: var(--color-highlight);
        }
    }
}

.vert_align {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.parent_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_center {
    text-align: center;
}

.half_height {
    min-height: 50vh;
}

.load_next_wrapper {
    display: flex;
    justify-content: center;
    margin: 50px auto;

        #perLoad_btn {
            height: 40px;
            width: 40%;
            background-color: var(--color-highlight);
            color: var(--color-white);
            border: 0;
            cursor: pointer;
        }
}