.landing_table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;

    td, th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    tr:nth-child(even){
      background-color: var(--color-gray);
    }

    tr:hover {
      background-color: var(--color-highlight);
    }

    th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: var(--color-highlight);
      color: white;
    }
}
